<a href="https://colab.research.google.com/github/bhagyashree28032001/Python-training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
a = 20
print(a)
print(id(a))

b=10
print(b)
print("b",id(b))

c=a
print(c)
print(id(c))

20
10751464
10
b 10751144
20
10751464

In [ ]:
#dynamic
a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a='NTT'
print(a)
print(id(a))

10
10751144
3.14
139280467976368
NTT
139280042594032

In [ ]:
#deleting a variable
a=20
print(a)

del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables
a,b,c = 10, 3.14, 'NTT'
print(a,b,c)

10 3.14 NTT

In [ ]:
#assigning  to single values to multiple
a=b=c=12
print(a,b,c)

12 12 12

In [ ]:
#variable annotation
a: int = 12
print(a)

print(__annotations__['a'])

b: float = 12.12
print(b)

print(__annotations__['b'])

c: str = 'ntt'
print(c)

print(__annotations__['c'])

a="blt"
print(a)

12
<class 'int'>
12.12
<class 'float'>
ntt
<class 'str'>
blt

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
#single line comment
#sdfgffgjm

#multi line commenting
'''asdf
dsvcb
dsfvb
dcfvgb '''

'asdf\ndsvcb\ndsfvb \ndcfvgb '

In [ ]:
#string
#positive indexing
s = "code yug"
print(s[0:3:1])
print(s[2:5])
print(s[::])
print(s[0:5:2])
print(s[:4])
print(s[::])
print(s[0::3])
print(s[0::2])
print(s[0:0:1])

cod
de
code yug
cd
code
code yug
ceu
cd u

In [ ]:
#negative indexing
s = "code yug"
print(s[-1:-6:-1])
print(s[-1:-6:-2])
print(s[-2:-4:-2])
print(s[-1:-6:-3])
print(s[-3:-8:-2])
print(s[::])
print(s[::-1])
print(s[-1::-1])
print(s[:-9:-1])
print(s[-1::])
print(s[-1:-3:-1])
print(s[-1:-4:-1])
print(s[-1:-5:-1])

guy e
gye
u
g
yeo
code yug
guy edoc
guy edoc
guy edoc
g
gu
guy
guy

In [ ]:
s = "bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-4:-1])
print(s[-2:-6:2])
print(s[-1:-6:1])
print(s[-1::-1])
print(s[-1:-11])
print(s[-1:-1:-1])

ero
eoan
ero


erolagnab

In [ ]:
s = "Hello, world!"
print(s[7:12])
print(s[5:12])
print(s[:5])
print(s[-6:-1])

world
, world
Hello
world

In [ ]:
text = "Data Science"
print(text[-5:-1])

text1 = "Python"
print(text1[::-1])

ienc
nohtyP

In [ ]:
print("bhagya")

bhagya

In [ ]:
2+3

5

In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
#day3

# simple if statement

if 10>5:
  print("10 is greater than 5")
  print(" i am inside if bloxk")
  print("still i am inside if block")
  print("i am outside if block")

In [ ]:
# input statement

name = input(" enter your name")
print("your name is",name)

In [ ]:
no1 = int(input(" enter the first no"))
no2 = int(input("enter the 2nd number"))

if no1 > no2:
  print("no1 is greater")

In [ ]:
no1 = float(input(" enter the first no"))
no2 = float(input("enter the 2nd number"))
print(no1+no2)

In [ ]:
age = int(input("enter your age"))

if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

In [ ]:
a = int ( input("enter a no"))

if a % 2 == 0 :
  print(" even no")
else:
  print("odd")

In [ ]:
#  if elif else

grade = int(input("enter your score"))

if grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 70:
  print("c grade")

else:
  print("fail")

In [ ]:
# nested if

num = int(input("enetr a no"))

if num > 0 :
  print("numer is a positive number")
  if num%2 == 0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("negative number")

In [ ]:
# while loop

i=2

while i<=5:
  print(i)
  i =i+1

In [ ]:
# multiplication table

num = int(input("enter the table no"))

i=1

while i <=10:
  print(i*num)
  i=i+1

In [ ]:
i= 1
while i <= 100:
  print(i)
  i+=2

In [ ]:
# for loop

for i in "Good" :
  print("Ntt data")

In [ ]:
v = ['a','e','i','o','u']

st = "bangalore"
counter= 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)