<a href="https://colab.research.google.com/github/bhagyashree28032001/Python-training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
a = 20
print(a)
print(id(a))

b=10
print(b)
print("b",id(b))

c=a
print(c)
print(id(c))

20
10751464
10
b 10751144
20
10751464

In [ ]:
#dynamic
a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a='NTT'
print(a)
print(id(a))

10
10751144
3.14
139110048520048
NTT
139109652743856

In [ ]:
#deleting a variable
a=20
print(a)

del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables
a,b,c = 10, 3.14, 'NTT'
print(a,b,c)

In [ ]:
#assigning  to single values to multiple
a=b=c=12
print(a,b,c)

In [ ]:
#variable annotation
a: int = 12
print(a)

print(__annotations__['a'])

b: float = 12.12
print(b)

print(__annotations__['b'])

c: str = 'ntt'
print(c)

print(__annotations__['c'])

a="blt"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
#single line comment
#sdfgffgjm

#multi line commenting
'''asdf
dsvcb
dsfvb
dcfvgb '''

'asdf\ndsvcb\ndsfvb\ndcfvgb '

In [ ]:
#string
#positive indexing
s = "code yug"
print(s[0:3:1])
print(s[2:5])
print(s[::])
print(s[0:5:2])
print(s[:4])
print(s[::])
print(s[0::3])
print(s[0::2])
print(s[0:0:1])

cod
de
code yug
cd
code
code yug
ceu
cd u

In [ ]:
#negative indexing
s = "code yug"
print(s[-1:-6:-1])
print(s[-1:-6:-2])
print(s[-2:-4:-2])
print(s[-1:-6:-3])
print(s[-3:-8:-2])
print(s[::])
print(s[::-1])
print(s[-1::-1])
print(s[:-9:-1])
print(s[-1::])
print(s[-1:-3:-1])
print(s[-1:-4:-1])
print(s[-1:-5:-1])

guy e
gye
u
g
yeo
code yug
guy edoc
guy edoc
guy edoc
g
gu
guy
guy

In [ ]:
s = "bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-4:-1])
print(s[-2:-6:2])
print(s[-1:-6:1])
print(s[-1::-1])
print(s[-1:-11])
print(s[-1:-1:-1])

ero
eoan
ero


erolagnab

In [ ]:
s = "Hello, world!"
print(s[7:12])
print(s[5:12])
print(s[:5])
print(s[-6:-1])

world
, world
Hello
world

In [ ]:
text = "Data Science"
print(text[-5:-1])

text1 = "Python"
print(text1[::-1])

ienc
nohtyP

In [ ]:
print("bhagya")

bhagya

In [ ]:
2+3

5

In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

10
a= 10751144
10
b= 10751144
10
c= 10751144

In [ ]:
#day3

# simple if statement

if 10>5:
  print("10 is greater than 5")
  print(" i am inside if bloxk")
  print("still i am inside if block")
  print("i am outside if block")

10 is greater than 5
 i am inside if bloxk
still i am inside if block
i am outside if block

In [ ]:
# input statement

name = input(" enter your name")
print("your name is",name)

 enter your namebhagya
your name is bhagya

In [ ]:
no1 = int(input(" enter the first no"))
no2 = int(input("enter the 2nd number"))

if no1 > no2:
  print("no1 is greater")

 enter the first no12
enter the 2nd number23

In [ ]:
no1 = float(input(" enter the first no"))
no2 = float(input("enter the 2nd number"))
print(no1+no2)

In [ ]:
age = int(input("enter your age"))

if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

In [ ]:
a = int ( input("enter a no"))

if a % 2 == 0 :
  print(" even no")
else:
  print("odd")

In [ ]:
#  if elif else

grade = int(input("enter your score"))

if grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 70:
  print("c grade")

else:
  print("fail")

In [ ]:
# nested if

num = int(input("enetr a no"))

if num > 0 :
  print("numer is a positive number")
  if num%2 == 0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("negative number")

In [ ]:
# while loop

i=2

while i<=5:
  print(i)
  i =i+1

In [ ]:
# multiplication table

num = int(input("enter the table no"))

i=1

while i <=10:
  print(i*num)
  i=i+1

In [ ]:
i= 1
while i <= 100:
  print(i)
  i+=2

In [ ]:
# for loop

for i in "Good" :
  print("Ntt data")

In [ ]:
v = ['a','e','i','o','u']

st = "bangalore"
counter= 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

In [ ]:
str = input("enter a string:")
print(str[::-1])

In [ ]:
str = input("enter a string:")
rev = str[::-1]
print(rev)

if str==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
#nested for loop
for i in "blr":
  print("outer loop")
  for j in [10,20,30]:
    print("inner loop")
    print(i,j)

In [ ]:
for i in "bangalore":
  print(i)
  if i == 'o':
    break
print("end of loop")

In [ ]:
#concatenation using + operator

s1="apple"
s2="banana"
print(s1+s2)

In [ ]:
#concatenation using * operator

s1="apple"
s2="banana"
print(s1*2)
print(s2*2)

In [ ]:
#string is immutable
s1 = "apple"
print(s1)
s1[0] ="A"
print(s1)

In [ ]:
#deletion
s1 = "apple"
print(s1)
del s1
#print(s1)

In [ ]:
# length of the string
s1 = input("enter a string:")
print(len(s1))

In [ ]:
# count method
s1 = " i am good, i taught you also good"
c = s1.count("good", 20)
print(c)

In [ ]:
s1 = "india is big india culture is good"
c = s1.count("india", 2,20)
print(c)

In [ ]:
#startswith method
mainstring = input("enter the main string:")
substring = input("enter the substring:")
print(mainstring.startswith(substring))

if mainstring.startswith(substring):
  print("yes substring is available")
else:
  print("no not available")

In [ ]:
str = input("enter a string:")
if str.startswith("I"):
  print("India")
elif str.endswith("an"):
  print("pak")
else:
  print("australia")

In [ ]:
str = input("enter a url")
if str.endswith(".com"):
  print("commercial website")
elif str.endswith(".edu"):
  print("educational website")
elif str.startswith("www"):
  print("website")

else:
  print("not website")

In [ ]:
#lstrip

name = input("enter name:")
print(name)

name = name.lstrip()
print(name)

In [ ]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.lstrip("hytp/w.")
  print(i)

In [ ]:
#lstrip

l=["http://www.myntra.com","http://www.ntt.com","http://www.google.com"]
for i in l:
  print(i.lstrip("http://www."))
for j in l:
  print(j.lstrip("hp:/w."))

myntra.com
ntt.com
google.com
ttp://www.myntra.com
ttp://www.ntt.com
ttp://www.google.com

In [ ]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.lstrip("hp/w.")
  print(i)

ttp://www.myntra.com
ttp://www.ajio.com
ttp://www.amazon.com

In [ ]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.strip('htpcom')
  print(i)

://www.myntra.
://www.ajio.
://www.amazon.

In [ ]:
s1 = "apple"
s2 = "Apple"

if s1 == s2:
  print("same")
else:
  print("not same")

print(ord("a"))
print(ord("A"))

not same
97
65

[10, 20, 23, 34, 1.1, 'NTT']
<class 'list'>

In [ ]:
#replace
s = "apple"
s1 = s.replace("e","E")
print(s)
print(s1)

apple
applE

In [ ]:
#list
l = [10,20,23,34,1.1,'NTT']
print(l)
print(type(l))

[10, 20, 23, 34, 1.1, 'NTT']
<class 'list'>

In [ ]:
# list indexing
l1 = [12,23,34,"NTT",[1,2,3]]
print(l1[1])
print(l1[-1])
print(l1[-2])
print(l1[4][2])

23
[1, 2, 3]
NTT
3

In [ ]:
# list slicing
l1 = [10,20.3,3.25,"NTT", [1,2,2]]
print(l1[:2:])
print(l1[::-1])

[10, 20.3]
[[1, 2, 2], 'NTT', 3.25, 20.3, 10]

In [ ]:
#concatenation
l1 = [10,20,30]
l2= [23,45,87]
l3 = l1+l2
print(l3)

[10, 20, 30, 23, 45, 87]

In [ ]:
#multiplication of list
l1 = [10,20,30]
print(l1*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# list iteration
l1 = [10,20,30,43]
for i in l1:
  print(i+1)

11
21
31
44

In [ ]:
# list membership operator
l1 = [10,20,30,40]

print(10 in l1)

True

In [ ]:
#list deletion
l1= [12,23,34,45]
print(l1)
del l1[0:2]
print(l1)

[12, 23, 34, 45]
[34, 45]

In [ ]:
# max element
l1 = [10,20,30]
print(max(l1))

l2= ["apple", "amma",'alliswell']
print(max(l2, key +len))

30

NameError: name 'key' is not defined

In [ ]:
l1 = []
print(max(l1, default=1))

1

In [ ]:
# max element
l1 = [10,20,30]
print(max(l1))

l2= ["apple", "amma",'appleyyy']
print(max(l2, key = len))

30
appleyyy

In [ ]:
#min method
l1 = [12,11,13]
print(min(l1))

11

In [ ]:
#append
l1= [12,23,34]
l1.append(1.234)
print(l1)

[12, 23, 34, 1.234]

In [ ]:
# append multiple elements
k=[1,2,3,4,5]
i=0
while i<5:
  l=int(input("enternum"))
  k.append(l)
  i=i+1
print(k)

enternum45

In [ ]:
l = [10,20,30,40]
s = int(input("how many numbers you want to enter"))
for i in range(0,s):
    a = int(input("Enter a number: "))
    l.append(a)
print(l)

how many numbers you want to enter5
Enter a number: 12
Enter a number: 23
Enter a number: 45
Enter a number: 56
Enter a number: 67
[10, 20, 30, 40, 12, 23, 45, 56, 67]

In [ ]:
#extend
l1=[12,23,2,22]
l1.extend((34,4,5,66,78,"ntt"))

print(l1)

[12, 23, 2, 22, 34, 4, 5, 66, 78, 'ntt']

In [ ]:
#Extend
a=[1,2,3]
b=[4,5,6]
print (a.extend(b))

None

In [ ]:
a=[1,2,3]
b=["ntt",1,2]
a.extend(b)
print(a)

[1, 2, 3, 'ntt', 1, 2]

In [ ]:
#insert
l1 = [12,23,34,56]
l1.insert(1,13)
print(l1)

[12, 13, 23, 34, 56]

In [ ]:
#remove in list
l1 = [12,23,22,34,]
#l1.remove(23)
print(l1.remove(23))#return none always
print(l1)

None
[12, 22, 34]

In [ ]:
#pop in list
l1 = [10,20,30,40,50]
l1.pop(2)
#l1.pop(10)
print(l1)

[10, 20, 40, 50]

In [ ]:
#clear in list
l1 = [12,23,34,]
l1.clear()
print(l1)

[]

In [ ]:
#delete in list
l1 = [23,23,45,56]
del l1
print(l1)

NameError: name 'l1' is not defined

In [1]:
#removing duplicate elements from the list using looping statement
l1=[10,25,36,10,81,25]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[10, 25, 36, 81]

In [2]:
#removing duplicate elements from the list using pop method
l1 = [10,25,36,10,81,25]
for i in l1:
  if i == 10:
    l1.pop(3)
  if i == 25:
    l1.pop(4)
print(l1)

[10, 25, 36, 81]

In [3]:
#unique elemts without duplicate elemnts

d = [11, 12, 26, 3, 11, 26,5]
uniq = []
for i in d:
    if i not in uniq:
        uniq.append(i)
print(uniq)

[11, 12, 26, 3, 5]

In [13]:
# program to find the 2nd largest no in the list

l1 = [2,8,6,14]
firstlargest = max(l1)
#print(firstlargest)
l1.remove(firstlargest)
#print(l1)

secondlargest = max(l1)
print("the 2nd largest no is ", secondlargest)

the 2nd largest no is  8

In [4]:
# finding largest element
num=int(input('Enter which largest num would you like to fetch? '))
l1 = [8,15,7,6,3,9]
for i in range(num-1):
  m = max(l1)
  l1.remove(m)

print('The largest number is ', max(l1))

Enter which largest num would you like to fetch? 4
The largest number is  7

In [ ]:
# program to remove the nth largest no
num=int(input('Enter which largest num would you like to fetch? '))
l1 = [8,15,7,6,3,9]
for i in range(num-1):
  m = max(l1)
  l1.remove(m)

print('The largest number is ', max(l1))

In [ ]:
l1=[2,4,6,2,8,6,3,2,4]

print(l1.count(4))

In [ ]:
l1 = [10,30,40]
print(l1)
print(type(l1))

In [5]:
# how many times element occurring in the list
l1=[2,4,6,2,8,6,3,2,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
        print(i,"Occurs", l1.count(i), "times")

2 Occurs 3 times
4 Occurs 2 times
6 Occurs 2 times
8 Occurs 1 times
3 Occurs 1 times

In [6]:
#tuple
l = (10,20,30,40,50)
print(l)
print(type(l))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [ ]:
#tuple are immutable
t1 = (10,20,30,40,'NTT',1.1)
t1.remove(20)
t1[0]=100
print(t1)

In [7]:
#changing list to tuple
l = [10,20,30,40,50]
print(l)
print(type(l))
t= tuple(l)
print(t)
print(type(t))

[10, 20, 30, 40, 50]
<class 'list'>
(10, 20, 30, 40, 50)
<class 'tuple'>

In [8]:
#tuple with single element
t = (10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [10]:
#tuple indexing
t1 = (10,20,30,40,'NTT',1.1)
print(t1[0])
print(t1[-2])
print(t1[-1])

10
NTT
1.1

In [12]:
#concatenation of tuple
t1 = (10,20,30,40,'NTT',1.1)
print(id(t1))

t1 = t1 +(80,90)
print(id(t1))

140049090123936
140049089829280

In [ ]:
# slicing in tuple

t1 = (10,20,30,40,50,"NTT",1.1)

print(t1[::])

print(t1[::-1])

In [ ]:
t1 = (10,20,30,40,50,"NTT",1.1)

for ele in t1:
  print(ele)

In [ ]:
import sys

list1 = [10,20,30,40,50,60]
tup1 =  (10,20,30,40,50,60)

print("list size is ", sys.getsizeof(list1))

print("tuple size is ", sys.getsizeof(tup1))

In [ ]:
# dictionary

dict1 ={"pp":"aaa" , "qq":"bbb", "rr":"ccc","ss":"ddd"}
print(dict1)
print(type(dict1))

#access the dict

print(dict1["pp"])