<a href="https://colab.research.google.com/github/bhagyashree28032001/Python-training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [2]:
a = 20
print(a)
print(id(a))

b=10
print(b)
print("b",id(b))

c=a
print(c)
print(id(c))

20
10751464
10
b 10751144
20
10751464

In [3]:
#dynamic
a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a='NTT'
print(a)
print(id(a))

10
10751144
3.14
139110048520048
NTT
139109652743856

In [4]:
#deleting a variable
a=20
print(a)

del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables
a,b,c = 10, 3.14, 'NTT'
print(a,b,c)

In [ ]:
#assigning  to single values to multiple
a=b=c=12
print(a,b,c)

In [ ]:
#variable annotation
a: int = 12
print(a)

print(__annotations__['a'])

b: float = 12.12
print(b)

print(__annotations__['b'])

c: str = 'ntt'
print(c)

print(__annotations__['c'])

a="blt"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [5]:
#single line comment
#sdfgffgjm

#multi line commenting
'''asdf
dsvcb
dsfvb
dcfvgb '''

'asdf\ndsvcb\ndsfvb\ndcfvgb '

In [6]:
#string
#positive indexing
s = "code yug"
print(s[0:3:1])
print(s[2:5])
print(s[::])
print(s[0:5:2])
print(s[:4])
print(s[::])
print(s[0::3])
print(s[0::2])
print(s[0:0:1])

cod
de
code yug
cd
code
code yug
ceu
cd u

In [7]:
#negative indexing
s = "code yug"
print(s[-1:-6:-1])
print(s[-1:-6:-2])
print(s[-2:-4:-2])
print(s[-1:-6:-3])
print(s[-3:-8:-2])
print(s[::])
print(s[::-1])
print(s[-1::-1])
print(s[:-9:-1])
print(s[-1::])
print(s[-1:-3:-1])
print(s[-1:-4:-1])
print(s[-1:-5:-1])

guy e
gye
u
g
yeo
code yug
guy edoc
guy edoc
guy edoc
g
gu
guy
guy

In [8]:
s = "bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-1:-4:-1])
print(s[-2:-6:2])
print(s[-1:-6:1])
print(s[-1::-1])
print(s[-1:-11])
print(s[-1:-1:-1])

ero
eoan
ero


erolagnab

In [9]:
s = "Hello, world!"
print(s[7:12])
print(s[5:12])
print(s[:5])
print(s[-6:-1])

world
, world
Hello
world

In [10]:
text = "Data Science"
print(text[-5:-1])

text1 = "Python"
print(text1[::-1])

ienc
nohtyP

In [11]:
print("bhagya")

bhagya

In [12]:
2+3

5

In [13]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

10
a= 10751144
10
b= 10751144
10
c= 10751144

In [14]:
#day3

# simple if statement

if 10>5:
  print("10 is greater than 5")
  print(" i am inside if bloxk")
  print("still i am inside if block")
  print("i am outside if block")

10 is greater than 5
 i am inside if bloxk
still i am inside if block
i am outside if block

In [15]:
# input statement

name = input(" enter your name")
print("your name is",name)

 enter your namebhagya
your name is bhagya

In [17]:
no1 = int(input(" enter the first no"))
no2 = int(input("enter the 2nd number"))

if no1 > no2:
  print("no1 is greater")

 enter the first no12
enter the 2nd number23

In [ ]:
no1 = float(input(" enter the first no"))
no2 = float(input("enter the 2nd number"))
print(no1+no2)

In [ ]:
age = int(input("enter your age"))

if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

In [ ]:
a = int ( input("enter a no"))

if a % 2 == 0 :
  print(" even no")
else:
  print("odd")

In [ ]:
#  if elif else

grade = int(input("enter your score"))

if grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 70:
  print("c grade")

else:
  print("fail")

In [ ]:
# nested if

num = int(input("enetr a no"))

if num > 0 :
  print("numer is a positive number")
  if num%2 == 0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("negative number")

In [ ]:
# while loop

i=2

while i<=5:
  print(i)
  i =i+1

In [ ]:
# multiplication table

num = int(input("enter the table no"))

i=1

while i <=10:
  print(i*num)
  i=i+1

In [ ]:
i= 1
while i <= 100:
  print(i)
  i+=2

In [ ]:
# for loop

for i in "Good" :
  print("Ntt data")

In [ ]:
v = ['a','e','i','o','u']

st = "bangalore"
counter= 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

In [ ]:
str = input("enter a string:")
print(str[::-1])

In [ ]:
str = input("enter a string:")
rev = str[::-1]
print(rev)

if str==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
#nested for loop
for i in "blr":
  print("outer loop")
  for j in [10,20,30]:
    print("inner loop")
    print(i,j)

In [ ]:
for i in "bangalore":
  print(i)
  if i == 'o':
    break
print("end of loop")

In [ ]:
#concatenation using + operator

s1="apple"
s2="banana"
print(s1+s2)

In [ ]:
#concatenation using * operator

s1="apple"
s2="banana"
print(s1*2)
print(s2*2)

In [ ]:
#string is immutable
s1 = "apple"
print(s1)
s1[0] ="A"
print(s1)

In [ ]:
#deletion
s1 = "apple"
print(s1)
del s1
#print(s1)

In [ ]:
# length of the string
s1 = input("enter a string:")
print(len(s1))

In [ ]:
# count method
s1 = " i am good, i taught you also good"
c = s1.count("good", 20)
print(c)

In [ ]:
s1 = "india is big india culture is good"
c = s1.count("india", 2,20)
print(c)

In [ ]:
#startswith method
mainstring = input("enter the main string:")
substring = input("enter the substring:")
print(mainstring.startswith(substring))

if mainstring.startswith(substring):
  print("yes substring is available")
else:
  print("no not available")

In [ ]:
str = input("enter a string:")
if str.startswith("I"):
  print("India")
elif str.endswith("an"):
  print("pak")
else:
  print("australia")

In [ ]:
str = input("enter a url")
if str.endswith(".com"):
  print("commercial website")
elif str.endswith(".edu"):
  print("educational website")
elif str.startswith("www"):
  print("website")

else:
  print("not website")

In [ ]:
#lstrip

name = input("enter name:")
print(name)

name = name.lstrip()
print(name)

In [ ]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.lstrip("hytp/w.")
  print(i)

In [18]:
#lstrip

l=["http://www.myntra.com","http://www.ntt.com","http://www.google.com"]
for i in l:
  print(i.lstrip("http://www."))
for j in l:
  print(j.lstrip("hp:/w."))

myntra.com
ntt.com
google.com
ttp://www.myntra.com
ttp://www.ntt.com
ttp://www.google.com

In [19]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.lstrip("hp/w.")
  print(i)

ttp://www.myntra.com
ttp://www.ajio.com
ttp://www.amazon.com

In [21]:
url= ["http://www.myntra.com", "http://www.ajio.com", "http://www.amazon.com"]
for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i=i.lstrip('htp.com')
  print(i)

://www.myntra.com
://www.ajio.com
://www.amazon.com